
.image-under {
    opacity: 0.2;
}

.image-above {
    position: absolute;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .image-above {
        top: 70%;
    }
}

@media screen and (max-width: 767px) {
    .image-above {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .trunConfig {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}